{
  region : {
    replica_info : {
      id:6,
      ip:"127.0.0.1",
      port: 10006,
    },
    replica_info : {
      id:7,
      ip:"127.0.0.1",
      port: 10007,
    },
    replica_info : {
      id:8,
      ip:"127.0.0.1",
      port: 10008,
    },
    replica_info : {
      id:9,
      ip:"127.0.0.1",
      port: 10009,
    },
    region_id: 1,
  },
  self_region_id:1,
  require_txn_validation:false,
}
